
TerminaDora/Library/AnnotationManager
TerminaDora/Library/APIUpdater/project-dependencies.graph
TerminaDora/Library/ArtifactDB
TerminaDora/Library/ArtifactDB-lock
TerminaDora/Library/Artifacts/00/00226eaa14b23623fd71c3c0738ced66
TerminaDora/Library/Artifacts/00/003721f3fa5101dd453ed880d2d5addb
TerminaDora/Library/Artifacts/00/003881362ea19a1073a809a8d30a9130
